#set($editURL=$request.attributes.get("aui:a:scopedAttributes").replaceAll(".*href=([^, }]*).*","$1").replaceAll("(.*)&_15_portletResource=[^&]*(.*)","$1$2")+"&_15_articleId=$reserved-article-id.data&_15_version=$reserved-article-version.data")

#set ($JAP = $permissionChecker.getClass().forName("com.liferay.portlet.journal.service.permission.JournalArticlePermission").newInstance())
#set($hasUpdatePersmission=$JAP.contains($permissionChecker, $groupId, $reserved-article-id.data, "UPDATE"))

<h3>Expérience Professionnelle</h3>
#if($hasUpdatePersmission)
<a href="$editURL">Modifier</a>
#end
<h4>Au groupe Harnois</h4>
#foreach($experience in $posteHarnois.getSiblings())
<div>
    <div>$experience.getData()</div>
    <div>$experience.date.getData()</div>
</div>
#end
#foreach($experience in $entreprise.getSiblings())
<h4>$experience.getData()</h4>
<div>
    <div>$experience.poste.getData()</div>
    <div>$experience.date.getData()</div>
</div>
#end

#if($hasUpdatePersmission)
<a href="$editURL">Ajouter une formation</a>
#end