/* ---------- Browser normalization ---------- */
/* line 3, ../sass/base.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/base.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  clear: both;
}

/* line 18, ../sass/base.scss */
fieldset, img {
  border: 0;
}

/* line 22, ../sass/base.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 27, ../sass/base.scss */
caption, th {
  text-align: left;
}

/* line 31, ../sass/base.scss */
q:before, q:after {
  content: '';
}

/* line 35, ../sass/base.scss */
abbr, acronym {
  border: 0;
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 41, ../sass/base.scss */
html {
  overflow-y: scroll;
}

/* line 45, ../sass/base.scss */
html.aui-dialog-iframe-root-node {
  overflow: auto;
}

/* line 49, ../sass/base.scss */
body {
  background: #FFF;
  font: 62.5%/1.4 Arial, Helvetica, Verdana, sans-serif;
}

/* line 54, ../sass/base.scss */
body.portal-popup {
  background: none;
  padding: 10px;
}

/* line 59, ../sass/base.scss */
body.aui-dialog-iframe-popup {
  padding-bottom: 0;
}

/* line 63, ../sass/base.scss */
body.portal-iframe {
  padding: 0;
}

/* line 67, ../sass/base.scss */
blockquote, ul, ol, dl {
  margin: 1em;
}

/* line 71, ../sass/base.scss */
ol, ul, dl {
  margin-left: 2em;
}

/* line 75, ../sass/base.scss */
ol {
  list-style: decimal outside;
}

/* line 79, ../sass/base.scss */
ul {
  list-style: disc outside;
}

/* line 83, ../sass/base.scss */
ul ul {
  list-style-type: circle;
}

/* line 87, ../sass/base.scss */
ol ol {
  list-style-type: upper-roman;
}

/* line 91, ../sass/base.scss */
dl dd {
  margin-left: 1em;
}

/* line 95, ../sass/base.scss */
th {
  font-weight: bold;
}

/* line 99, ../sass/base.scss */
caption {
  margin-bottom: 0.5em;
  text-align: center;
}

/* line 104, ../sass/base.scss */
p {
  margin-bottom: 1em;
}

/* ---------- Links ---------- */
/* ---------- Headers ---------- */
/* line 121, ../sass/base.scss */
h1 {
  font-size: 1.8em;
}

/* line 125, ../sass/base.scss */
h2 {
  font-size: 1.6em;
}

/* line 129, ../sass/base.scss */
h3 {
  font-size: 1.4em;
}

/* line 133, ../sass/base.scss */
h1, h2, h3 {
  margin: 1em 0;
}

/* line 137, ../sass/base.scss */
h4, h5, h6 {
  font-size: 1.1em;
}

/* line 141, ../sass/base.scss */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

/* ---------- Logo ---------- */
/* line 147, ../sass/base.scss */
.logo {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* ---------- HTML Editor ---------- */
/* line 155, ../sass/base.scss */
body.html-editor {
  background: #FFF;
  color: #000;
}

/* line 160, ../sass/base.scss */
.html-editor.portlet-message-boards blockquote {
  background: #eef0f2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;
  border: 1px solid #777;
  position: relative;
  padding: 5px 45px;
}

/* line 167, ../sass/base.scss */
.html-editor.portlet-message-boards blockquote:after {
  background: url(../images/message_boards/quoteright.png) no-repeat 50%;
  bottom: 5px;
  content: '';
  display: block;
  height: 24px;
  position: absolute;
  right: 5px;
  width: 31px;
  z-index: 999;
}

/* line 179, ../sass/base.scss */
.html-editor.portlet-message-boards blockquote cite {
  display: block;
  font-weight: bold;
}

/* line 184, ../sass/base.scss */
.html-editor.portlet-message-boards pre {
  background: #F9F9F9;
  border: 1px solid #777;
  padding: 0.5em;
}

/* ---------- Text formatting ---------- */
/* line 192, ../sass/base.scss */
b, strong {
  font-weight: bold;
}

/* line 196, ../sass/base.scss */
i, em {
  font-style: italic;
}

/* line 200, ../sass/base.scss */
code, pre {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}

/* line 205, ../sass/base.scss */
.important {
  font-weight: bold;
}

/* ---------- Main content body ---------- */
/* line 211, ../sass/base.scss */
.portal-iframe #main-content {
  width: 100%;
}

/* ---------- Alerts and popups ---------- */
/* line 217, ../sass/base.scss */
.alert-background {
  background: #000;
}

/* line 221, ../sass/base.scss */
.popup-alert-notice {
  background-color: #FFC;
  border-bottom-color: #FC0;
}

/* line 226, ../sass/base.scss */
.popup-alert-warning {
  background-color: #FDD;
  border-bottom-color: #F00;
}

/* ---------- Portal add content ---------- */
/* line 233, ../sass/base.scss */
.portal-add-content {
  background: #FFF;
  text-align: left;
  z-index: 20;
}

/* line 239, ../sass/base.scss */
.portal-add-content a {
  text-decoration: none;
}

/* ---------- Loading animation ---------- */
/* line 245, ../sass/base.scss */
.loading-animation {
  background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
  margin-top: 10px;
  padding-top: 40px;
  text-align: left;
}

/* ---------- Separator ---------- */
/* line 254, ../sass/base.scss */
hr, .separator {
  border-top: 1px dotted #BFBFBF;
}

/* ---------- Update Manager ---------- */
/* line 260, ../sass/base.scss */
.update-available {
  margin-top: 10px;
  padding: 2px;
  text-align: left;
}

/* ---------- Text highlighting ---------- */
/* line 268, ../sass/base.scss */
.highlight {
  background: #FFC;
  font-weight: bold;
  margin: 0 1px;
}
