/* ---------- Wrapper ---------- */
/* line 3, ../sass/layout.scss */
.portlet-layout {
  border-collapse: collapse;
  clear: both;
  display: table;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

/* line 12, ../sass/layout.scss */
.portlet-column {
  display: table-cell;
  vertical-align: top;
}

/* line 17, ../sass/layout.scss */
.portlet-column-content {
  padding: 5px;
}

/* line 21, ../sass/layout.scss */
.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last {
  padding-left: 0;
}

/* line 25, ../sass/layout.scss */
.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first {
  padding-right: 0;
}

/* ---------- Column widths ---------- */
/* line 31, ../sass/layout.scss */
.portlet-column-content.empty {
  padding: 50px;
}

/* line 35, ../sass/layout.scss */
#main-content.dragging .portlet-column {
  border: 3px double #828F95;
  height: 100px;
  min-height: 100px;
}

/* line 42, ../sass/layout.scss */
.ie6 div.portlet-layout, .ie7 div.portlet-layout {
  height: 1%;
}
/* line 46, ../sass/layout.scss */
.ie6 div.portlet-column, .ie7 div.portlet-column {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 52, ../sass/layout.scss */
.ie6 div.aui-column-last, .ie7 div.aui-column-last {
  margin-right: -1px;
}
/* line 56, ../sass/layout.scss */
.ie6 .portlet-column-content, .ie7 .portlet-column-content {
  zoom: 1;
}
