/*Feuille de Style 1.0 Intranet AUF - Marc NACHIN*/
/* ----------------- TITRES ET LIENS  ----------------- */
/* line 4, ../sass/style-original.scss */
h1 {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* line 9, ../sass/style-original.scss */
h2 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 8px;
}

/* line 14, ../sass/style-original.scss */
h3 {
  font-size: 26px;
  font-size: 2.6rem;
  margin-bottom: 6px;
}

/* line 19, ../sass/style-original.scss */
h4 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 4px;
}

/* line 24, ../sass/style-original.scss */
small {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 28, ../sass/style-original.scss */
a {
  color: #3f3d4b;
  text-decoration: underline;
}

/* line 32, ../sass/style-original.scss */
a:hover {
  text-decoration: none;
  color: #01617f;
  /*-webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  -ms-transition: all 1s ;
  -o-transition: all 1s ;
  transition: all 1s ;*/
}

/* line 41, ../sass/style-original.scss */
a:active {
  color: #333333;
}

/* line 45, ../sass/style-original.scss */
.nomarg {
  margin: 0 !important;
}

/* ----------------- FORMULAIRE --------------- */
/* line 55, ../sass/style-original.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=file] {
  outline: 0;
  padding: 2px 5px;
  height: 30px;
  width: 290px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  font-size: 11px;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #3f3d4b;
  border: 1px solid #00aade;
}

/* line 71, ../sass/style-original.scss */
input[type=text]:focus {
  background-color: #efefef;
  /*-webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  -ms-transition: all 1s ;
  -o-transition: all 1s ;
  transition: all 1s ;*/
}

/* line 82, ../sass/style-original.scss */
input[type=submit],
input[type=button],
input[type=reset] {
  background: #00aade url(../images/search.png) no-repeat;
  width: 36px;
  height: 30px;
  text-indent: -9999px;
  cursor: pointer;
}

/* line 90, ../sass/style-original.scss */
#contenu label {
  display: block;
  float: left;
  line-height: 25px;
  /*font-weight: bold;*/
  margin-right: 9px;
  text-align: right;
  width: 110px;
  font-size: 1.2rem;
}

/* line 101, ../sass/style-original.scss */
#contenu .rechercher {
  margin: 20px 0px 4px 0px;
  float: left;
}

/* line 106, ../sass/style-original.scss */
#contenu .rechercher2 {
  margin: 4px 0px;
  float: left;
}

/* line 116, ../sass/style-original.scss */
#contenu input[type=text],
#contenu input[type=password],
#contenu input[type=email],
#contenu input[type=search],
#contenu input[type=tel],
#contenu input[type=file] {
  outline: 0;
  padding: 2px 5px;
  height: 25px;
  line-height: 25px;
  width: 290px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  font-size: 11px;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #3f3d4b;
  border: 1px solid #00aade;
}

/* line 133, ../sass/style-original.scss */
#contenu select {
  outline: 0;
  padding: 2px 5px;
  height: 25px;
  line-height: 25px;
  width: 290px;
  margin-right: 10px;
  font-size: 11px;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #3f3d4b;
  border: 1px solid #00aade;
}

/* line 149, ../sass/style-original.scss */
#contenu input[type=submit],
#contenu input[type=button],
#contenu input[type=reset] {
  background: #00AADE;
  text-indent: inherit;
  height: 26px;
  padding: 0px 10px;
  cursor: pointer;
  width: auto;
  color: #fff;
  font-weight: bold;
}

/* line 160, ../sass/style-original.scss */
#contenu .boutonEnvoi {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/* ----------------- BODY ----------------- */
/* line 169, ../sass/style-original.scss */
html {
  font-size: 62.5%;
}

/* line 173, ../sass/style-original.scss */
body {
  font-family: arial, helvetica, clean, sans-serif;
  background: url(../images/fond.jpg) repeat;
  color: #3f3d4b;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  letter-spacing: 0.01rem;
  letter-spacing: 0.1px;
}

/* ----------------- CONTENEUR GLOBAL ----------------- */
/* line 184, ../sass/style-original.scss */
#container-full {
  width: 100%;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 13px 2px #e4e4e4;
  box-shadow: 0px 0px 13px 2px #e4e4e4;
}

/* ----------------- ENTETE ----------------- */
/* line 192, ../sass/style-original.scss */
#container-full > header {
  width: 100%;
  margin: 0px;
  height: 71px;
  background-color: #3f3d4b;
  text-shadow: 1px 1px 0px #2a2a2a;
  filter: dropshadow(color=#2a2a2a, offx=1, offy=1);
}

/* line 201, ../sass/style-original.scss */
header .baseline {
  height: 44px;
  width: 33%;
  float: left;
  margin: 12px 0px 0px 10px;
}

/* line 208, ../sass/style-original.scss */
header .baseline img {
  float: left;
  margin-right: 13px;
}

/* line 213, ../sass/style-original.scss */
header .baseline h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  line-height: 44px;
  font-weight: bold;
}

/* line 221, ../sass/style-original.scss */
header a {
  color: #fff;
}

/* line 225, ../sass/style-original.scss */
header .rechercher {
  float: left;
  margin-top: 20px;
}

/* line 230, ../sass/style-original.scss */
header .ecrire a {
  display: block;
  float: right;
  margin: 24px 10px 0px 0px;
  text-align: right;
  padding-right: 26px;
  background: url(../images/write.png) right no-repeat;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.1em;
}

/* ----------------- MENU PRINCIPAL ----------------- */
/* line 244, ../sass/style-original.scss */
#container-full .auf-navigation {
  width: 100%;
  margin: 0px;
  height: 40px;
  background: url(../images/menu.png) repeat-x;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1);
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  display: block !important;
}

/* line 257, ../sass/style-original.scss */
.auf-navigation > ul > li {
  float: left;
}

/* line 261, ../sass/style-original.scss */
.auf-navigation ul li a {
  display: block;
  padding: 0px 30px;
  height: 39px;
  line-height: 39px;
  border-right: 1px solid #bfbfbf;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: normal;
}

/* line 273, ../sass/style-original.scss */
.auf-navigation ul li .active {
  background: url(../images/menu_active.png) repeat-x;
}

/* line 277, ../sass/style-original.scss */
.auf-navigation ul li :hover {
  background: url(../images/menu_active.png) repeat-x;
}

/* line 281, ../sass/style-original.scss */
.auf-navigation ul li:hover > ul {
  display: block;
}

/* line 285, ../sass/style-original.scss */
.auf-navigation ul li ul {
  position: absolute;
  display: none;
  margin-left: -1px;
  z-index: 999;
}

/* line 292, ../sass/style-original.scss */
.auf-navigation ul li ul li {
  float: none;
  background: url(../images/menu.png) repeat;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
}

/* line 299, ../sass/style-original.scss */
.auf-navigation ul li ul li a {
  display: block;
  position: relative;
}

/* line 304, ../sass/style-original.scss */
.notifications:after {
  content: attr(data-notification);
  color: #fff;
  padding: 1px 4px;
  font-size: 10px;
  font-size: 1rem;
  background-color: #00AADE;
  text-shadow: none;
  margin-left: 4px;
}

/* ----------------- CONTENT -----------------*/
/* line 316, ../sass/style-original.scss */
#contenu {
  display: table;
  width: 100%;
}

/* line 321, ../sass/style-original.scss */
#contenu span {
  color: #018bb6;
}

/* line 325, ../sass/style-original.scss */
#contenu ul, .auf-wysiwyg-ul-base {
  padding: 20px 14px 0px 14px;
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 331, ../sass/style-original.scss */
#contenu .gauche ul li, #contenu .droit ul li {
  margin-bottom: 9px;
}

/* line 335, ../sass/style-original.scss */
p {
  font-size: 13px;
  font-size: 1.3rem;
}

/* ---------- Partie gauche ------------ */
/* line 341, ../sass/style-original.scss */
.gauche {
  background-color: #dfdfdf;
  width: 21%;
  display: table-cell;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  vertical-align: top;
}

/* line 350, ../sass/style-original.scss */
.gauche h5 {
  font-size: 11px;
  font-size: 1.13rem;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 357, ../sass/style-original.scss */
.profil {
  padding: 24px 10px;
  overflow: hidden;
}

/* line 362, ../sass/style-original.scss */
.gauche .poste {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 367, ../sass/style-original.scss */
.gauche .desc {
  overflow: hidden;
}

/* line 371, ../sass/style-original.scss */
.gauche .photo {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}

/* line 377, ../sass/style-original.scss */
.gauche .photo img {
  height: auto;
  max-width: 100%;
  border: 1px solid #c3c3c3;
  padding: 1px;
}

/* line 384, ../sass/style-original.scss */
.gauche h4 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 391, ../sass/style-original.scss */
.gauche .rect {
  padding: 20px 10px 0px 10px;
  overflow: hidden;
}

/* line 396, ../sass/style-original.scss */
.gauche .poste {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 401, ../sass/style-original.scss */
.gauche .photo2 {
  float: left;
  margin-right: 10px;
  max-width: 50px;
}

/* line 407, ../sass/style-original.scss */
.gauche .photo2 img {
  height: auto;
  max-width: 100%;
}

/* line 412, ../sass/style-original.scss */
.gauche .evenement, .auf-event {
  padding: 20px 14px 10px 14px;
}

/* line 416, ../sass/style-original.scss */
.gauche .agenda, .auf-event-agenda-icon {
  padding-left: 23px;
  background: url(../images/agenda.png) left no-repeat;
}

/* line 421, ../sass/style-original.scss */
.setting {
  margin-top: 6px;
  padding-left: 18px;
  background: url(../images/setting.png) left no-repeat;
  height: 18px;
  line-height: 18px;
}

/* line 429, ../sass/style-original.scss */
.box h2, .auf-portlet-title {
  height: 33px;
  line-height: 33px;
  background: url(../images/titrebox.png) repeat-x;
  color: #FFFFFF;
  padding-left: 14px;
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 439, ../sass/style-original.scss */
#contenu ul li.doc {
  background-image: url(../images/icon.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 440, ../sass/style-original.scss */
#contenu ul li.page {
  background-image: url(../images/icon.png);
  background-position: -30px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 441, ../sass/style-original.scss */
#contenu ul li.actu {
  background-image: url(../images/icon.png);
  background-position: -60px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 442, ../sass/style-original.scss */
#contenu ul li.event {
  background-image: url(../images/icon.png);
  background-position: -90px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 443, ../sass/style-original.scss */
#contenu ul li.video {
  background-image: url(../images/icon.png);
  background-position: -120px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* ---------- Partie centre ------------ */
/* line 446, ../sass/style-original.scss */
.centre {
  background: url(../images/fond_main.png) repeat;
  display: table-cell;
  width: 79%;
  padding: 20px 10px;
  vertical-align: top;
}

/* line 454, ../sass/style-original.scss */
.ariane {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 16px;
  margin-bottom: 18px;
  font-weight: bold;
}

/* line 461, ../sass/style-original.scss */
.centre H1 {
  font-weight: bold;
  margin-bottom: 14px;
}

/* line 466, ../sass/style-original.scss */
.centre H2 {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: bold;
}

/* line 473, ../sass/style-original.scss */
.centre p, .auf-wysiwyg-p {
  margin-bottom: 20px;
}

/* line 477, ../sass/style-original.scss */
.centre h4 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4px;
}

/* line 484, ../sass/style-original.scss */
.news {
  padding: 16px 0px 14px 0px;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}

/* line 490, ../sass/style-original.scss */
.news2 {
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}

/* line 496, ../sass/style-original.scss */
.news:last-child, .news2:last-child {
  border-bottom: none;
}

/* line 500, ../sass/style-original.scss */
.centre .desc {
  overflow: hidden;
}

/* line 504, ../sass/style-original.scss */
.centre .date {
  font-size: 11px;
  font-size: 1.1rem;
  color: #3f3d4b;
  margin-bottom: 2px;
}

/* line 511, ../sass/style-original.scss */
.centre .date2 {
  font-size: 11px;
  font-size: 1.1rem;
  color: #3f3d4b;
  margin-bottom: 2px;
  padding-left: 26px;
}

/* line 519, ../sass/style-original.scss */
.centre .photo {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}

/* line 525, ../sass/style-original.scss */
.centre .photo2 {
  float: left;
  max-width: 120px;
  margin-right: 10px;
}

/* line 531, ../sass/style-original.scss */
.centre .photo img, .centre .photo2 img {
  height: auto;
  max-width: 100%;
  border: 1px solid #c3c3c3;
  padding: 1px;
  margin-bottom: 0px;
}

/* .centre .box_centre, */
/* line 540, ../sass/style-original.scss */
.auf-box-centre {
  background-color: #fcfcfc;
  padding: 10px;
  border: 1px solid #dfdfdf;
  margin-bottom: 30px;
  overflow: hidden;
}

/*.centre .box_centre2,*/
/* line 549, ../sass/style-original.scss */
.auf-box-centre-2 {
  background-color: #fcfcfc;
  padding: 10px;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 557, ../sass/style-original.scss */
.centre .box_centre .pdf {
  padding-left: 25px;
  background: url(../images/pdf.png) left no-repeat;
}

/* line 558, ../sass/style-original.scss */
.centre .box_centre .word {
  padding-left: 25px;
  background: url(../images/word.png) left no-repeat;
}

/* line 559, ../sass/style-original.scss */
.centre .box_centre .excel {
  padding-left: 25px;
  background: url(../images/excel.png) left no-repeat;
}

/* line 560, ../sass/style-original.scss */
.centre .box_centre .user {
  padding-left: 25px;
  background: url(../images/user.png) left no-repeat;
}

/* line 561, ../sass/style-original.scss */
.centre .box_centre .com {
  padding-left: 25px;
  background: url(../images/com.png) left no-repeat;
}

/* line 562, ../sass/style-original.scss */
.centre .box_centre .page {
  padding-left: 25px;
  background: url(../images/page.png) left no-repeat;
}

/* line 564, ../sass/style-original.scss */
.centre img {
  padding: 6px;
  border: 1px solid #FCFCFC;
  margin-bottom: 14px;
}

/* line 570, ../sass/style-original.scss */
#contenu .centre ul, .auf-wysiwyg-ul {
  margin-bottom: 20px;
  padding-top: 6px;
}

/* line 575, ../sass/style-original.scss */
#contenu .centre ul li, .auf-wysiwyg-li {
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(../images/puce.png) left no-repeat;
}
/* line 580, ../sass/style-original.scss */
#contenu .centre ul li:last-child, .auf-wysiwyg-li:last-child {
  margin-bottom: 0;
}

/* line 585, ../sass/style-original.scss */
#contenu .centre #tabs .news ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(../images/puce.png) left no-repeat;
  border-right: none;
}

/* line 592, ../sass/style-original.scss */
.left_align {
  float: left;
  margin-right: 18px;
}

/* line 597, ../sass/style-original.scss */
.right_align {
  float: right;
  margin-left: 18px;
}

/* line 602, ../sass/style-original.scss */
.center {
  margin: 0 auto 14px auto !important;
}

/*Pagination*/
/* line 607, ../sass/style-original.scss */
#contenu .pagination {
  /*padding: 16px 0 5px;*/
  text-align: center;
}

/* line 611, ../sass/style-original.scss */
#contenu .pagination .page {
  border: 1px solid #DFDFDF;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
  width: 25px;
}

/* line 621, ../sass/style-original.scss */
#contenu .pagination .prev, #contenu .pagination .next {
  border: 1px solid #DFDFDF;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 0 5px;
  text-align: center;
}

/* ---------- Partie droite ------------ */
/* line 633, ../sass/style-original.scss */
.droit {
  background-color: #DFDFDF;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  width: 21%;
  display: table-cell;
  vertical-align: top;
}

/* line 642, ../sass/style-original.scss */
.droit h4 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 649, ../sass/style-original.scss */
.droit .profil {
  padding: 20px 10px 0px 10px;
  overflow: hidden;
}

/* line 654, ../sass/style-original.scss */
.droit .poste {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 659, ../sass/style-original.scss */
.droit .desc {
  overflow: hidden;
}

/* line 663, ../sass/style-original.scss */
.droit .photo {
  float: left;
  margin-right: 10px;
  max-width: 50px;
}

/* line 669, ../sass/style-original.scss */
.droit .photo img {
  height: auto;
  max-width: 100%;
}

/* line 674, ../sass/style-original.scss */
.droit .event {
  padding: 20px 14px 10px 14px;
}

/* line 678, ../sass/style-original.scss */
.droit .agenda {
  padding-left: 23px;
  background: url(../images/agenda.png) left no-repeat;
}

/* line 683, ../sass/style-original.scss */
.box {
  padding-bottom: 12px;
}

/* ----------------- FOOTER ----------------*/
/* line 688, ../sass/style-original.scss */
#container-full footer {
  background-color: #3e3c4a;
  padding: 20px 10px;
  color: #fff;
}

/* ----------------- GRILLE ----------------- */
/*GRILLE*/
/* line 697, ../sass/style-original.scss */
.section {
  position: relative;
}

/* line 700, ../sass/style-original.scss */
.row {
  margin-bottom: 1em;
}

/* line 703, ../sass/style-original.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 708, ../sass/style-original.scss */
#tabs h5 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 18px 0px 12px 0px;
  font-weight: bold;
}

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 762px) and (max-width: 939px) {
  /* line 720, ../sass/style-original.scss */
  #tabs ul li {
    float: none;
    padding: 8px !important;
    border-bottom: 1px solid #DFDFDF;
    border-right: none !important;
  }

  /* line 727, ../sass/style-original.scss */
  #tabs ul li a {
    float: none;
    padding: 0px;
  }

  /* line 732, ../sass/style-original.scss */
  #tabs ul li:last-child {
    border-bottom: medium none;
  }

  /* line 736, ../sass/style-original.scss */
  #contenu {
    display: block;
  }

  /* line 740, ../sass/style-original.scss */
  .droit {
    display: block;
    vertical-align: top;
    width: 100%;
  }

  /* line 746, ../sass/style-original.scss */
  #tabs h5 {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 16px 0px 12px 0px;
  }

  /* line 752, ../sass/style-original.scss */
  #tabs .news ul li {
    border-bottom: none;
    margin: 0 !important;
    padding-left: 20px !important;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 761px) {
  /* Mobile Grid
    * For stacking full width columns, please use the new class .mobile-full
    * New mobile columns have been added*/
  /* line 768, ../sass/style-original.scss */
  nav ul {
    overflow: hidden;
  }

  /* line 772, ../sass/style-original.scss */
  nav ul li {
    float: none;
    border-bottom: 1px solid #DFDFDF;
  }

  /* line 777, ../sass/style-original.scss */
  #tabs ul li {
    float: none;
    padding: 8px !important;
    border-bottom: 1px solid #DFDFDF;
    border-right: none !important;
  }

  /* line 784, ../sass/style-original.scss */
  #tabs ul li a {
    float: none;
    padding: 0px;
  }

  /* line 789, ../sass/style-original.scss */
  #tabs .news ul li {
    border-bottom: none;
    margin: 0 !important;
    padding-left: 20px !important;
  }

  /* line 795, ../sass/style-original.scss */
  #container-full nav {
    height: auto;
  }

  /* line 799, ../sass/style-original.scss */
  nav ul li ul li {
    border: none;
  }

  /* line 803, ../sass/style-original.scss */
  nav ul li ul {
    position: static;
  }

  /* line 807, ../sass/style-original.scss */
  nav ul li ul li a {
    font-size: 1.1rem;
    font-size: 11px;
    padding-left: 60px;
  }

  /* line 813, ../sass/style-original.scss */
  header .baseline {
    float: none;
    height: 44px;
    margin: 12px 0 0 10px;
    width: 33%;
  }

  /* line 820, ../sass/style-original.scss */
  #container-full header {
    overflow: hidden;
    height: auto;
  }

  /* line 825, ../sass/style-original.scss */
  #contenu {
    display: block;
  }

  /* line 829, ../sass/style-original.scss */
  .droit {
    display: block;
    vertical-align: top;
    width: 100%;
  }

  /* line 835, ../sass/style-original.scss */
  .gauche {
    display: block;
    vertical-align: top;
    width: 100%;
  }

  /* line 841, ../sass/style-original.scss */
  .gauche .tohid {
    display: none;
  }

  /* line 845, ../sass/style-original.scss */
  #tabs ul li:last-child {
    border-bottom: medium none;
  }

  /* line 849, ../sass/style-original.scss */
  #tabs h5 {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 16px 0px 12px 0px;
  }

  /* line 855, ../sass/style-original.scss */
  header .baseline {
    float: none;
    height: 44px;
    margin: 12px 0 0 10px;
    width: 100%;
  }

  /* line 862, ../sass/style-original.scss */
  nav ul li a {
    border-right: none;
  }

  /* line 866, ../sass/style-original.scss */
  nav ul li:last-child {
    border-bottom: medium none;
  }

  /* line 870, ../sass/style-original.scss */
  input[type="text"] {
    width: 250px;
  }

  /* line 874, ../sass/style-original.scss */
  header .rechercher {
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  /* line 881, ../sass/style-original.scss */
  header .ecrire a {
    display: none;
  }
}
