/*Feuille de Style 1.0 Intranet AUF - Marc NACHIN*/
/* ----------------- TITRES ET LIENS  ----------------- */
/* line 4, ../sass/style.scss */
h1 {
  font-size: 16px;
  font-size: 1.6em;
  text-transform: uppercase;
}

/* line 10, ../sass/style.scss */
h2 {
  font-size: 32px;
  font-size: 3.2em;
  margin-bottom: 8px;
}

/* line 15, ../sass/style.scss */
h3 {
  font-size: 26px;
  font-size: 2.6em;
  margin-bottom: 6px;
}

/* line 20, ../sass/style.scss */
h4 {
  font-size: 20px;
  font-size: 2em;
  margin-bottom: 4px;
}

/* line 25, ../sass/style.scss */
small {
  font-size: 12px;
  font-size: 1.2em;
}

/* line 29, ../sass/style.scss */
a {
  color: #3f3d4b;
  text-decoration: underline;
}

/* line 33, ../sass/style.scss */
a:hover {
  text-decoration: none;
  color: #01617f;
  /*-webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  -ms-transition: all 1s ;
  -o-transition: all 1s ;
  transition: all 1s ;*/
}

/* line 42, ../sass/style.scss */
a:active {
  color: #333333;
}

/* ----------------- FORMULAIRE --------------- */
/* line 52, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=file] {
  outline: 0;
  padding: 2px 5px;
  height: 30px;
  width: 290px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  font-size: 11px;
  font-size: 1.1em;
  background-color: #ffffff;
  color: #3f3d4b;
  border: 1px solid #00aade;
}

/* line 68, ../sass/style.scss */
input[type=text]:focus {
  background-color: #efefef;
  /*-webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  -ms-transition: all 1s ;
  -o-transition: all 1s ;
  transition: all 1s ;*/
}

/*
input[type=submit],
input[type=button],
input[type=reset] {
	background: #00aade url(../images/search.png) no-repeat;
	width: 36px;
	height: 30px;
	text-indent: -9999px;
    cursor: pointer;
}
*/
/* ----------------- BODY ----------------- */
/* line 90, ../sass/style.scss */
html {
  /*font-size: 62.5%;*/
}

/* line 94, ../sass/style.scss */
body {
  font-family: arial, helvetica, clean, sans-serif;
  background: url(../images/fond.jpg) repeat;
  color: #3f3d4b;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  letter-spacing: 0.01em;
  letter-spacing: 0.1px;
}

/* ----------------- CONTENEUR GLOBAL ----------------- */
/* line 105, ../sass/style.scss */
#container-full {
  width: 100%;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 13px 2px #e4e4e4;
  box-shadow: 0px 0px 13px 2px #e4e4e4;
}

/* ----------------- ENTETE ----------------- */
/* line 113, ../sass/style.scss */
#container-full header {
  width: 100%;
  margin: 0px;
  height: 71px;
  background-color: #3f3d4b;
  text-shadow: 1px 1px 0px #2a2a2a;
  filter: dropshadow(color=#2a2a2a, offx=1, offy=1);
}

/* line 122, ../sass/style.scss */
#container-full section header {
  text-shadow: none;
  width: auto;
  background: url("../images/titrebox.png") repeat-x scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: normal;
  height: 33px;
  line-height: 33px;
  padding-left: 14px;
}

/* line 135, ../sass/style.scss */
header .baseline {
  height: 44px;
  width: 33%;
  float: left;
  margin: 12px 0px 0px 10px;
}

/* line 142, ../sass/style.scss */
header .baseline img {
  float: left;
  margin-right: 13px;
}

/* line 147, ../sass/style.scss */
header .baseline h1 {
  font-size: 16px;
  font-size: 1.6em;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  line-height: 44px;
  font-weight: bold;
}

/* line 155, ../sass/style.scss */
header a {
  color: #fff;
}

/* line 159, ../sass/style.scss */
header .rechercher {
  float: left;
  margin-top: 20px;
}

/* line 164, ../sass/style.scss */
header .ecrire a {
  display: block;
  float: right;
  margin: 24px 10px 0px 0px;
  text-align: right;
  padding-right: 26px;
  background: url(../images/write.png) right no-repeat;
  font-size: 11px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1em;
}

/* ----------------- MENU PRINCIPAL ----------------- */
/* line 178, ../sass/style.scss */
#container-full nav {
  width: 100%;
  margin: 0px;
  height: 40px;
  background: url(../images/menu.png) repeat-x;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1);
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

/* line 190, ../sass/style.scss */
nav ul li {
  float: left;
}

/* line 194, ../sass/style.scss */
nav ul li a {
  display: block;
  padding: 0px 30px;
  line-height: 39px;
  border-right: 1px solid #bfbfbf;
  font-size: 12px;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 204, ../sass/style.scss */
nav ul li .active {
  background: url(../images/menu_active.png) repeat;
}

/* line 208, ../sass/style.scss */
nav ul li :hover {
  background: url(../images/menu_active.png) repeat;
}

/* line 212, ../sass/style.scss */
nav ul li:hover > ul {
  display: block;
}

/* line 216, ../sass/style.scss */
nav ul li ul {
  position: absolute;
  display: none;
  margin-left: -1px;
  z-index: 999;
}

/* line 223, ../sass/style.scss */
nav ul li ul li {
  float: none;
  background: url(../images/menu.png) repeat;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
}

/* line 230, ../sass/style.scss */
nav ul li ul li a {
  display: block;
  position: relative;
}

/* line 235, ../sass/style.scss */
.notifications:after {
  content: attr(data-notification);
  color: #fff;
  padding: 1px 4px;
  font-size: 10px;
  font-size: 1em;
  background-color: #00AADE;
  text-shadow: none;
  margin-left: 4px;
}

/* ----------------- CONTENT -----------------*/
/* line 247, ../sass/style.scss */
#contenu {
  display: table;
  width: 100%;
}

/* line 252, ../sass/style.scss */
#contenu ul {
  padding: 20px 14px 0px 14px;
  font-size: 13px;
  font-size: 1.3em;
}

/* line 258, ../sass/style.scss */
#contenu .gauche ul li, #contenu .droit ul li {
  margin-bottom: 9px;
}

/* line 262, ../sass/style.scss */
p {
  font-size: 13px;
  font-size: 1.3em;
}

/* ---------- Partie gauche ------------ */
/* line 268, ../sass/style.scss */
.gauche {
  background-color: #dfdfdf;
  width: 21%;
  display: table-cell;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  vertical-align: top;
}

/* line 277, ../sass/style.scss */
.gauche h4 {
  font-size: 11px;
  font-size: 1.13em;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 284, ../sass/style.scss */
.profil {
  padding: 24px 10px;
  overflow: hidden;
}

/* line 289, ../sass/style.scss */
.gauche .poste {
  font-size: 11px;
  font-size: 1.1em;
}

/* line 294, ../sass/style.scss */
.gauche .desc {
  overflow: hidden;
}

/* line 298, ../sass/style.scss */
.gauche .photo {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}

/* line 304, ../sass/style.scss */
.gauche .photo img {
  height: auto;
  max-width: 100%;
  border: 1px solid #c3c3c3;
  padding: 1px;
}

/* line 311, ../sass/style.scss */
.setting {
  margin-top: 6px;
  padding-left: 18px;
  background: url(../images/setting.png) left no-repeat;
  height: 16px;
  line-height: 16px;
}

/* line 319, ../sass/style.scss */
.box h2 {
  height: 33px;
  line-height: 33px;
  background: url(../images/titrebox.png) repeat-x;
  color: #FFFFFF;
  padding-left: 14px;
  font-size: 13px;
  font-size: 1.3em;
}

/* line 329, ../sass/style.scss */
#contenu ul li.doc {
  background-image: url(../images/icon.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 330, ../sass/style.scss */
#contenu ul li.page {
  background-image: url(../images/icon.png);
  background-position: -30px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 331, ../sass/style.scss */
#contenu ul li.actu {
  background-image: url(../images/icon.png);
  background-position: -60px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 332, ../sass/style.scss */
#contenu ul li.event {
  background-image: url(../images/icon.png);
  background-position: -90px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* line 333, ../sass/style.scss */
#contenu ul li.video {
  background-image: url(../images/icon.png);
  background-position: -120px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
  padding-left: 30px;
}

/* ---------- Partie centre ------------ */
/* line 336, ../sass/style.scss */
.centre {
  background: url(../images/fond_main.png) repeat;
  display: table-cell;
  width: 58%;
  padding: 20px 10px;
  vertical-align: top;
}

/* line 344, ../sass/style.scss */
.centre H1 {
  font-weight: bold;
  margin-bottom: 14px;
}

/* line 349, ../sass/style.scss */
.centre p {
  margin-bottom: 20px;
}

/* line 353, ../sass/style.scss */
.centre h4 {
  font-size: 12px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
}

/* line 360, ../sass/style.scss */
.news {
  padding: 16px 0px 14px 0px;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}

/* line 366, ../sass/style.scss */
.news2 {
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}

/* line 372, ../sass/style.scss */
.news:last-child, .news2:last-child {
  border-bottom: none;
}

/* line 376, ../sass/style.scss */
.centre .desc {
  overflow: hidden;
}

/* line 380, ../sass/style.scss */
.centre .date {
  font-size: 11px;
  font-size: 1.1em;
  color: #3f3d4b;
  margin-bottom: 2px;
}

/* line 387, ../sass/style.scss */
.centre .date2 {
  font-size: 11px;
  font-size: 1.1em;
  color: #3f3d4b;
  margin-bottom: 2px;
  padding-left: 26px;
}

/* line 395, ../sass/style.scss */
.centre .photo {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}

/* line 401, ../sass/style.scss */
.centre .photo img {
  height: auto;
  max-width: 100%;
  border: 1px solid #c3c3c3;
  padding: 1px;
  margin-bottom: 0px;
}

/* line 409, ../sass/style.scss */
.centre .box_centre {
  background-color: #fcfcfc;
  padding: 0px 10px;
  border: 1px solid #dfdfdf;
  margin-bottom: 30px;
}

/* line 416, ../sass/style.scss */
.centre .box_centre .pdf {
  padding-left: 25px;
  background: url(../images/pdf.png) left no-repeat;
}

/* line 417, ../sass/style.scss */
.centre .box_centre .word {
  padding-left: 25px;
  background: url(../images/word.png) left no-repeat;
}

/* line 418, ../sass/style.scss */
.centre .box_centre .excel {
  padding-left: 25px;
  background: url(../images/excel.png) left no-repeat;
}

/* line 419, ../sass/style.scss */
.centre .box_centre .user {
  padding-left: 25px;
  background: url(../images/user.png) left no-repeat;
}

/* line 420, ../sass/style.scss */
.centre .box_centre .com {
  padding-left: 25px;
  background: url(../images/com.png) left no-repeat;
}

/* line 421, ../sass/style.scss */
.centre .box_centre .page {
  padding-left: 25px;
  background: url(../images/page.png) left no-repeat;
}

/* .centre img{
	padding: 6px;
	border: 1px solid #FCFCFC;
	margin-bottom: 14px;
} */
/* line 429, ../sass/style.scss */
#contenu .centre ul {
  margin-bottom: 20px;
  padding-top: 6px;
}

/* line 434, ../sass/style.scss */
#contenu .centre ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(../images/puce.png) left no-repeat;
}

/* line 440, ../sass/style.scss */
.left_align {
  float: left;
  margin-right: 18px;
}

/* line 445, ../sass/style.scss */
.right_align {
  float: right;
  margin-left: 18px;
}

/* line 450, ../sass/style.scss */
.center {
  margin: 0 auto 14px auto !important;
}

/* ---------- Partie droite ------------ */
/* line 455, ../sass/style.scss */
.droit {
  background-color: #DFDFDF;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  width: 21%;
  display: table-cell;
  vertical-align: top;
}

/* line 464, ../sass/style.scss */
.droit h4 {
  font-size: 12px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 471, ../sass/style.scss */
.droit .profil {
  padding: 20px 10px 0px 10px;
  overflow: hidden;
}

/* line 476, ../sass/style.scss */
.droit .poste {
  font-size: 11px;
  font-size: 1.1em;
}

/* line 481, ../sass/style.scss */
.droit .desc {
  overflow: hidden;
}

/* line 485, ../sass/style.scss */
.droit .photo {
  float: left;
  margin-right: 10px;
  max-width: 50px;
}

/* line 491, ../sass/style.scss */
.droit .photo img {
  height: auto;
  max-width: 100%;
}

/* line 496, ../sass/style.scss */
.droit .event {
  padding: 20px 14px 10px 14px;
}

/* line 500, ../sass/style.scss */
.droit .agenda {
  padding-left: 23px;
  background: url(../images/agenda.png) left no-repeat;
}

/* line 505, ../sass/style.scss */
.box {
  padding-bottom: 12px;
}

/* ----------------- FOOTER ----------------*/
/* line 510, ../sass/style.scss */
#container-full footer {
  background-color: #3e3c4a;
  padding: 20px 10px;
  color: #fff;
}

/* ----------------- GRILLE ----------------- */
/*GRILLE*/
/* line 519, ../sass/style.scss */
.section {
  position: relative;
}

/* line 522, ../sass/style.scss */
.row {
  margin-bottom: 1em;
}

/* line 525, ../sass/style.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
}

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 762px) and (max-width: 939px) {
  /* line 536, ../sass/style.scss */
  #tabs ul li {
    float: none;
    padding: 8px !important;
    border-bottom: 1px solid #DFDFDF;
    border-right: none !important;
  }

  /* line 543, ../sass/style.scss */
  #tabs ul li a {
    float: none;
    padding: 0px;
  }

  /* line 548, ../sass/style.scss */
  #tabs ul li:last-child {
    border-bottom: medium none;
  }

  /* line 552, ../sass/style.scss */
  #contenu {
    display: block;
  }

  /* line 556, ../sass/style.scss */
  .droit {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 761px) {
  /* Mobile Grid
    * For stacking full width columns, please use the new class .mobile-full
    * New mobile columns have been added*/
  /* line 572, ../sass/style.scss */
  nav ul {
    overflow: hidden;
  }

  /* line 576, ../sass/style.scss */
  nav ul li {
    float: none;
    border-bottom: 1px solid #DFDFDF;
  }

  /* line 581, ../sass/style.scss */
  #tabs ul li {
    float: none;
    padding: 8px !important;
    border-bottom: 1px solid #DFDFDF;
    border-right: none !important;
  }

  /* line 588, ../sass/style.scss */
  #tabs ul li a {
    float: none;
    padding: 0px;
  }

  /* line 593, ../sass/style.scss */
  #container-full nav {
    height: auto;
  }

  /* line 597, ../sass/style.scss */
  nav ul li ul li {
    border: none;
  }

  /* line 601, ../sass/style.scss */
  nav ul li ul {
    position: static;
  }

  /* line 605, ../sass/style.scss */
  nav ul li ul li a {
    font-size: 1.1em;
    font-size: 11px;
    padding-left: 60px;
  }

  /* line 611, ../sass/style.scss */
  header .baseline {
    float: none;
    height: 44px;
    margin: 12px 0 0 10px;
    width: 33%;
  }

  /* line 618, ../sass/style.scss */
  #container-full header {
    overflow: hidden;
    height: auto;
  }

  /* line 623, ../sass/style.scss */
  #contenu {
    display: block;
  }

  /* line 627, ../sass/style.scss */
  .droit {
    display: block;
    vertical-align: top;
    width: 100%;
  }

  /* line 633, ../sass/style.scss */
  .gauche {
    display: block;
    vertical-align: top;
    width: 100%;
  }

  /* line 639, ../sass/style.scss */
  #tabs ul li:last-child {
    border-bottom: medium none;
  }

  /* line 643, ../sass/style.scss */
  header .baseline {
    float: none;
    height: 44px;
    margin: 12px 0 0 10px;
    width: 100%;
  }

  /* line 650, ../sass/style.scss */
  nav ul li a {
    border-right: none;
  }

  /* line 654, ../sass/style.scss */
  nav ul li:last-child {
    border-bottom: medium none;
  }

  /* line 658, ../sass/style.scss */
  input[type="text"] {
    width: 250px;
  }

  /* line 662, ../sass/style.scss */
  header .rechercher {
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  /* line 669, ../sass/style.scss */
  header .ecrire a {
    display: none;
  }
}
