@import "style-original.scss";

/* corrections liferay */
#contenu .lfr-actions, #contenu .centre .lfr-actions {
    padding:0;
}

#container-full footer {
    font-size:0.7em;
}

.gauche .profil {
    .setting {
        line-height: 18px;
        height: 18px;
    }
    h5 {
        font-weight: bold;
    }
}

.portlet-boundary {
    .portlet-title {
        @extend .auf-portlet-title;

        padding-left:0;
        font-size:1em;
        text-transform: capitalize;
        font-weight: normal;

        span:first-child {
            display:none;
        }
    }
}

.portlet-static-end.weather-portlet {
    .portlet-body > .portlet > .portlet-content > .portlet-content-container .portlet-body {
        height:50px;
        overflow:hidden;
    }
}