@import "style-original.scss";

@mixin img-reset{
    border:none;
    margin:0;
    padding:0 5px;
}

@mixin span-color-reset {
    &.portlet-title-default {
        color:#fff;
    }
}

@mixin mobile-nav {
    #container-full .auf-navigation {
        height:auto;

        & > ul > li {
            float: none;

            .auf-child-menu {
                position:relative; margin:0;

                li a {
                    padding-left:60px;
                    font-size:11px;
                }
            }
        }
    }
}

/* borderless portlet title color */
#contenu span {
    @include span-color-reset;
}

// navigation niveau 2

ul {
    &.level-2 {
        margin-bottom:0;
    }
}

/*
    le css de Marc est trop général et affecte tous les boutons de liferay.
    J'ai dû forcer le style de base de liferay.
*/
input[type=submit][class*=aui],
input[type=button][class*=aui] {
    text-indent:0;
    background: #d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;
    border: 1px solid;
    border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    color: #34404F;
    cursor: pointer;
    font-weight: bold;
    overflow: visible;
    padding: 5px;
    text-shadow: 1px 1px #FFF;
    width: auto;
}

#contenu .centre ul {
    &.structure-tree {
        padding:0;
    }

    li {
        &.structure-field, &.top-link {
            background:none;
            padding:0;
            margin:0;
        }
    }
}

/* corrections liferay */
#contenu .lfr-actions,
#contenu .gauche .lfr-actions,
#contenu .centre .lfr-actions {
    padding:0;
    margin-bottom:0;

    li {
        margin-bottom:0;
        background:none;
        padding-left:0;

        img {
            @include img-reset;
        }
    }
}

.taglib-icon, .taglib-icon-help, .browse-folder, .asset-title {
    img {
        @include img-reset;
    }

    .taglib-text {
        font-size:12px;
    }
}

.lfr-menu-list {
    li {
        a {
            font-size:1.9em;
        }
    }
}

.lfr-meta-actions {
    overflow:hidden;
}

#container-full footer {
    font-size:0.7em;
}

.auf-navigation li {
    position:static;
}

.portlet-boundary {
    .portlet-title {
        @extend .auf-portlet-title;

        // font-size:1em;
        text-transform: capitalize;
        font-weight: normal;

        span:first-child {
            display:none;
        }
    }

    .portlet-title-text {
        color:#fff !important;
    }

    .portlet-body {
        .portlet-content{
            padding:0;
        }
    }

    .asset-full-content {
        .asset-content {
            margin:0;
        }
    }

    .separator, .final-separator {
        display:none;
    }
}

.auf-box-centre-sans-titre {
    .portlet-body .portlet-content {
        @extend .auf-box-centre;
    }
}

.gauche {
    /* profil */
    .profil {
        .setting {
            line-height: 18px;
            height: 18px;
        }
        h5 {
            font-weight: bold;
        }
    }

    /* evenements */
    .evenement {
        @extend .auf-event;
    }

    .agenda {
        @extend .auf-event-agenda-icon;
    }
}


#contenu .centre {
    font-size:12px;

    .portlet-boundary {
        .portlet-title {
            text-transform: uppercase;
            padding:0;
            background:none;
            color: rgb(63, 61, 75);
            font-weight: bold;
        }

        .portlet-title-text {
            color: rgb(63, 61, 75) !important;
            font-size:16px;
        }
    }

    select.aui-paginator-rows-per-page {
        width:auto;
    }

    .lfr-component {
        margin:0;
        padding:0;

        li {
            background:none;
            padding-left:0;
            margin-bottom:0;

            &.folder {
                background:none;
                margin-bottom:0;
                padding-left:0;
            }
        }
    }

    // .portlet-asset-publisher {
    .portlet-content-container {
        .portlet-body {
            @extend .auf-box-centre;

            .asset-activities {
                @extend .news2;

                .asset-title {
                    margin-top:0;
                    margin-bottom:0;
                    border:none;
                }
            }
        }
    }

    .portlet-navigation,
    .portlet-asset-publisher,
    .auf-no-background {
        .portlet-content-container {
            .portlet-body {
                background-color: transparent;
                padding: 0;
                border: none;
                margin-bottom: 0;
                overflow: hidden;

            }
        }
    }

    .auf-box-centre-with-padding {
        padding:15px 10px !important;

        label {
            width:auto;
        }

        .ctrls {
            padding-top:30px;
        }
    }
}

#contenu .aui-field-wrapper-content {
    .aui-field-label, .inline-label {
        display: inline-block;
        float: none;
        line-height: 1em;
        font-weight: bold;
        margin-right: 0;
        text-align: left;
        width: auto;
        font-size: 1.2rem;
    }
}

#contenu input.aui-button-input {
    text-shadow:none !important;
    -webkit-border-radius: 0;
            border-radius: 0;
    text-shadow:none;
    border:none;
}

.aui-dialog-content, .aui-dialog-iframe-popup {
    font-size:12px !important;
}

#auf-annuaire-advanced-search {
    label {
        color:rgb(63, 61, 75) !important;
        font-weight: normal;
    }

    select {
        border-color:rgb(63, 61, 75);
    }
}

.ui-state-active {
    a {
        font-weight: bold;
    }
}

/* breadcrumb */
#contenu .centre .portlet-breadcrumb {
    @extend .ariane;

    .breadcrumbs {
        font-weight: normal;

        li {
            font-size:0.8em;
            margin:0 5px 0 0;

            &:before {
                content: ">";
            }

            &:first-child {

                &:before {
                    content: "";
                }

                span {
                    padding-left:0;
                }
            }

            span {
                padding:0 0 0 5px;
            }
        }
    }

    .portlet-content-container {
        .portlet-body {
            background:none;
            border:none;
        }
    }
}

/* porlet navigation */
#contenu .centre .portlet-navigation {
    .nav-menu {
        ul {
            padding-left:0;
            padding-right:0;
        }

        li {
            line-height:40px;
            background-color:#fff;
            background-position: 10px center;
            padding:0 10px;
            display:inline-block;
            border: 1px solid #dfdfdf;

            a {
                padding-left: 15px;
            }

            &.selected {
                background-color: #f0f0f0;

                a {
                    color: #777;
                }
            }
        }
    }
}

/* portlet contenu web */
#contenu .centre .portlet-journal-content {
    .journal-content-article {
        font-size:1.3rem;

        p {
            color:#3f3d4b;
        }

        img[style *= "float: left"] {
            margin:0 1em 1em 0;
        }

        img[style *= "float: right"] {
            margin:0 0 1em 1em;
        }

        ul {
            overflow: hidden;
        }
    }

    span {
        color:#3f3d4b;

        @include span-color-reset;
    }
}

/* portlet pour afficher les membres d'un site */
#contenu .centre {
    .sfl-members,
    .portlet-boundary_aufuserlist_WAR_aufsync_ {
        .news {
            width:49.25%;
            margin-left:1.5%;
            float:left;

            &:nth-child(2n+1) {
                margin-left:0;
            }
        }
    }
}

/* portlets des derniers documents d'un pôle/région/espaces collaboratifs */
#contenu .centre .sfl-derniers-documents {
    .portlet-content-container {
        ul.title-list {
            padding:0;
            margin:0;
        }

        li.title-list {
            padding:10px 0;
            background:none;

            & > span {
                display:block;

                a {
                    float:none;
                }
            }

            .asset-metadata {
                margin-left:0;
            }
        }
    }

    .metadata-author {
        background:none;
        padding-left:30px;
    }

    .vertical-separator {
        display:none;
    }
}


/* ckeditor */
body.html-editor {
    font-size:14px !important;

    p {
        @extend .auf-wysiwyg-p;
    }

    ul, ol {
        @extend .auf-wysiwyg-ul-base;
        @extend .auf-wysiwyg-ul;
    }

    ul li {
        @extend .auf-wysiwyg-li;
    }

    ol li {
        list-type: decimal;
    }
}

/* page de résultat de recherche */
#contenu .portlet-search {

    .portlet-icon-back {
        color: #3f3d4b;
    }

    .search-layout .search-layout-content {
        .menu {
            .search-facet {
                .facet-value{
                    font-size:1em;
                    background:none;
                    padding-left:0;

                    &.current-term a {
                        color: #018bb6;
                    }

                    img {
                        margin:0;
                        padding:0;
                        display:none;
                    }
                }
            }
        }

        ul.modified {
            padding:0;
        }
    }

    .results-grid {
        border:none;
    }

    .results-header {
        th {
            background: url(../images/titrebox.png) repeat-x;
            border-color: #dfdfdf;
        }
    }

    .results-row {
        td {
            border-color: #dfdfdf;
        }
    }
}

@media only screen and (min-width: 940px) and (max-width: 981px) {
    #contenu .centre {
        .sfl-members,
        .portlet-boundary_aufuserlist_WAR_aufsync_ {
            .news {
                width:100%;
                margin-left:0;
            }
        }
    }
}

@media only screen and (min-width: 762px) and (max-width: 939px) {
    @include mobile-nav;

    #contenu .centre {
        .sfl-members,
        .portlet-boundary_aufuserlist_WAR_aufsync_ {
            .news {
                width:100%;
                margin-left:0;
            }
        }
    }
}

@media only screen and (max-width: 801px) {
    @include mobile-nav;

    #contenu .centre {
        .sfl-members,
        .portlet-boundary_aufuserlist_WAR_aufsync_ {
            .news {
                width:100%;
                margin-left:0;
            }
        }
    }
}