Chèr(e) [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] a ajouté un commentaire.<br /><br />

----------<br />
[$COMMENTS_BODY$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">Voir commentaire.</a><br /><br />

Cordialement,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
