#*
This file allows you to override and define new Velocity variables.
*#

#set ($overrideDbPrefs = "true")
#macro (embedPortletUsing, $portletId, $requestVars, $preferences)
  #if ($overrideDbPrefs)
    #set ($locPortletPreferenceService = $serviceLocator.findService("com.liferay.portal.service.PortletPreferencesLocalService"))
    #set ($locPlidLong = $getterUtil.getLong($plid))
    $locPortletPreferenceService.deletePortletPreferences(0, 3, $locPlidLong, $portletId)
  #end

  $theme.runtime($portletId, $requestVars, $preferences)
#end

#set($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))

#set( $aufOrgId = 10801 )
#set( $regionOrgId = 10901 )
#set( $poleSupportOrgId = 10833 )
#set( $poleStrategicOrgId = 10805 )

#set( $homeURL = "/" )

#set ( $weatherPlace = $aufTool.getUserWeatherLocation($user_id) )

#set ( $quickLinksId = 14404 )
#set ( $contactPageId = 14422 )



#* ***********************************************
Local (dev)

#set( $aufOrgId = 10601 )
#set( $regionOrgId = 10657 )
#set( $poleSupportOrgId = 10633 )
#set( $poleStrategicOrgId = 10605 )

#set( $homeURL = "/" )

#set ( $weatherPlace = $aufTool.getUserWeatherLocation($user_id) )

#set ( $quickLinksId = 14459 )
#set ( $contactPageId = 14515 )
*************************************************
*#