#*
This file allows you to override and define new Velocity variables.
*#

#set ($overrideDbPrefs = "true")
#macro (embedPortletUsing, $portletId, $requestVars, $preferences)
  #if ($overrideDbPrefs)
    #set ($locPortletPreferenceService = $serviceLocator.findService("com.liferay.portal.service.PortletPreferencesLocalService"))
    #set ($locPlidLong = $getterUtil.getLong($plid))
    $locPortletPreferenceService.deletePortletPreferences(0, 3, $locPlidLong, $portletId)
  #end

  $theme.runtime($portletId, $requestVars, $preferences)
#end

#set($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))

#set( $aufOrgId = 10501 )
#set( $regionOrgId = 10557 )
#set( $poleSupportOrgId = 11204 )
#set( $poleStrategicOrgId = 11176 )

#set( $homeURL = "/" )

#set ( $weatherPlace = $aufTool.getUserWeatherLocation($user_id) )

#set ( $quickLinksId = 14012 )