<nav class="$nav_css_class" id="navigation">

	<ul class="main-menu">
		<li>
            <a href="$homeURL" class="main-menu">Accueil</span></a>
		</li>
		<li>
			<a href="#">Pôles support</span></a>
			<ul class="child-menu">
				#set( $poles = $aufTool.getSubOrganizations($poleSupportOrgId) )
				#foreach ($pole in $poles)
					<li>
			            #set( $pole_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE") )
	                    $pole_url.setWindowState("normal")
	                    $pole_url.setPortletMode("view")
	                    $pole_url.setParameter("struts_action", "/my_places/view")
	                    $pole_url.setParameter("groupId", "$pole.getGroup().getGroupId()")
	                    $pole_url.setParameter("privateLayout", "false")
	                    $pole_url.setParameter("redirect", "$portalUtil.getCurrentURL($request)")
						<a href="$pole_url">$pole.getName()</a>
					</li>
				#end
			</ul>
		</li>
		<li>
			<a href="#">Pôles strategiques</span></a>
			<ul class="child-menu">
				#set( $poles = $aufTool.getSubOrganizations($poleStrategicOrgId) )
				#foreach ($pole in $poles)
					<li>
			            #set( $pole_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE") )
	                    $pole_url.setWindowState("normal")
	                    $pole_url.setPortletMode("view")
	                    $pole_url.setParameter("struts_action", "/my_places/view")
	                    $pole_url.setParameter("groupId", "$pole.getGroup().getGroupId()")
	                    $pole_url.setParameter("privateLayout", "false")
	                    $pole_url.setParameter("redirect", "$portalUtil.getCurrentURL($request)")
						<a href="$pole_url">$pole.getName()</a>
					</li>
				#end
			</ul>
		</li>
		<li>
			<a href="#">Régions</span></a>
			<ul class="child-menu">
				#set( $regions = $aufTool.getSubOrganizations($regionOrgId) )
				#foreach ($region in $regions)
					<li>
			            #set( $region_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE") )
	                    $region_url.setWindowState("normal")
	                    $region_url.setPortletMode("view")
	                    $region_url.setParameter("struts_action", "/my_places/view")
	                    $region_url.setParameter("groupId", "$region.getGroup().getGroupId()")
	                    $region_url.setParameter("privateLayout", "false")
	                    $region_url.setParameter("redirect", "$portalUtil.getCurrentURL($request)")
						<a href="$region_url">$region.getName()</a>
					</li>
				#end
			</ul>
		</li>
		<li>
			<a href="#">Espaces collaboratifs</span></a>
			<ul class="child-menu">
				#set( $sites = $aufTool.getCollaborationSites($user_id) )
				#foreach ($site in $sites)
					<li>
			            #set( $site_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE") )
	                    $site_url.setWindowState("normal")
	                    $site_url.setPortletMode("view")
	                    $site_url.setParameter("struts_action", "/my_places/view")
	                    $site_url.setParameter("groupId", "$site.getGroupId()")
	                    $site_url.setParameter("privateLayout", "false")
	                    $site_url.setParameter("redirect", "$portalUtil.getCurrentURL($request)")
						<a href="$site_url">$site.getName()</a>
					</li>
				#end
			</ul>
		</li>
		<li>
			#set( $quicklinks_url = $portletURLFactory.create($request, "49", $quickLinksId, "ACTION_PHASE") )
	        $quicklinks_url.setWindowState("normal")
	        $quicklinks_url.setPortletMode("view")
	    	<a href="$quicklinks_url">Systèmes d'information</span></a>
		</li>
	</ul>
</nav>