<!doctype html>

#parse ($init)

<html class="no-js #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    $theme.include($top_head_include)

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #js ("$javascript_folder/jquery-1.9.1.min.js")
    #js ("$javascript_folder/jquery-ui.js")
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

$theme.include($body_top_include)

#if ($is_signed_in)
    #dockbar()
#end

<!--CONTENEUR-->
<div id="container-full">

    <header id="banner" role="banner">

        <div class="baseline">
            <img alt="$logo_description" src="/auf-theme/images/logo.jpg">
            <h1><a class="$logo_css_class" href="$site_default_url" title="#language("go-to") $site_name">$site_name</a></h1>
        </div>
        <div class="rechercher">
            $theme.journalContentSearch()
        </div>
        <div class="ecrire">
        	#set( $contactPage_url = $portletURLFactory.create($request, "49", $contactPageId, "ACTION_PHASE") )
	        $contactPage_url.setWindowState("normal")
	        $contactPage_url.setPortletMode("view")
            <a href="$contactPage_url">contacter<br>l’administrateur</a>
        </div>

    </header>

    <!-- MENU -->
    <nav>
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
    </nav>

    <!-- PARTIE CENTRALE -->
    <div id="contenu">
    
     	<!-- colonne gauche -->
        <div class="gauche">

        
	    
	    $velocityPortletPreferences.setValue("portletSetupShowBorders", "true")
	    $velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
        $velocityPortletPreferences.setValue("portletSetupTitle_fr_CA", "Météo")
	    $velocityPortletPreferences.setValue("zips", $weatherPlace)
		#embedPortletUsing("1_WAR_weatherportlet", "", $velocityPortletPreferences.toString())
        $velocityPortletPreferences.reset()
        
		#embedPortletUsing("101_INSTANCE_eFzcOQLPj6zh", "", $aufTool.getEventSetting($aufOrgId))
        
        #embedPortletUsing("101_INSTANCE_VORUZ3haQRVY", "", $aufTool.getActualitySetting($aufOrgId))
            
        </div>
        
        <!-- partie centrale -->
        <div class="centre">
			#if ( $is_signed_in)
            
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
				
					$portletDisplay.setTitle($the_title)
				
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
				
			#else
				<p>
				Connecter par <a href="/c/portal/login">ID.auf.org</a>
				</p>
				<a href="/c/portal/login"><div id="splash">
				  <div class="logo">
				    <img src="https://id.auf.org/static/idauf_48.png" width="48" height="48">
				    <span>id.auf</span>
				  </div>
				  <div class="titre">
				    <span>L'authentification unifiée de l'AUF</span>
				  </div>
				</div></a>
				<p>
				ou avec un compte Liferay
				</p>
				
	          	$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
			    $theme.runtime("58", "", $velocityPortletPreferences.toString())
			    $velocityPortletPreferences.reset()
			#end

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        
        <p><small>&copy; Copyright Your Name Here 2013. All Rights Reserved.</small></p>
        
    </footer>

</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>
