<!doctype html>

#parse ($init)

<html class="no-js #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    $theme.include($top_head_include)

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    #if (!$is_signed_in )
    #if ($plid != 40472 )
    <meta http-equiv="refresh" content="0;url=/c/portal/login">
    <script type="text/javascript">
        window.location.href = "/c/portal/login"
    </script>
    #end
    #end
    
    #js ("$javascript_folder/jquery-1.9.1.min.js")
    #js ("$javascript_folder/jquery-ui.js")
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

$theme.include($body_top_include)

#if ($permissionChecker.isOmniadmin() || $permissionChecker.isGroupMember($group_id))
    #dockbar()
#end

<!--CONTENEUR-->
<div id="container-full">

    <header id="banner" role="banner">

        <div class="baseline">
            <img alt="$logo_description" src="/auf-theme/images/logo.jpg">
            <h1><a class="$logo_css_class" href="/" title="#language("go-to") $site_name">Intranet AUF</a></h1>
        </div>
        <div class="rechercher">
            <form id="search-form" name="ctem_3_fm" method="get" action="search?p_p_id=3&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&_3_struts_action=%2Fsearch%2Fsearch">

				<input name="p_p_id" value="3" type="hidden">
				<input name="p_p_lifecycle" value="0" type="hidden">
				<input name="p_p_state" value="maximized" type="hidden">
				<input name="p_p_mode" value="view" type="hidden">
				<input name="_3_struts_action" value="/search/search" type="hidden">
				<input class="" name="_3_keywords" size="30" title="Rechercher" value="" type="text" placeholder="Rechercher dans le site intranet">
				<input name="_3_groupId" value="0" type="hidden">
			   	<input src="$images_folder/search.png" title="Rechercher" type="image" align="absmiddle" border="0">

			</form>
        </div>
        <div class="ecrire">
        	#set( $contactPage_url = $portletURLFactory.create($request, "49", $contactPageId, "ACTION_PHASE") )
	        $contactPage_url.setWindowState("normal")
	        $contactPage_url.setPortletMode("view")
            <a href="$contactPage_url">contacter<br>l’administrateur</a>
        </div>

    </header>

    <!-- MENU -->
    <nav>
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
    </nav>

    <!-- PARTIE CENTRALE -->
    <div id="contenu">

     	<!-- colonne gauche -->
        <div class="gauche">

		#if ( $is_signed_in)
        <div class="profil">
        	<div class="photo"><img src="$user.getPortraitURL($themeDisplay))"></div>
            <div class="desc">
            	<h5>$user.getFullName()</h5>
            	<p class="poste">$aufSyncTool.getUserPost($user.getEmailAddress())</p>
                <p class="setting"><a href="$themeDisplay.getURLMyAccount().toString()">#language('auf-settings')</a></p>
                <p class="logout"><a href="https://id.auf.org/logout">#language('auf-logout')</a></p>
             </div>
        </div>
	    #end

	    $velocityPortletPreferences.setValue("portletSetupShowBorders", "true")
	    $velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
        $velocityPortletPreferences.setValue("portletSetupTitle_fr_CA", "Météo")
	    $velocityPortletPreferences.setValue("zips", $weatherPlace)
		#embedPortletUsing("1_WAR_weatherportlet", "", $velocityPortletPreferences.toString())
        $velocityPortletPreferences.reset()

        <section class="portlet portlet-boundary auf-employee-search-portlet">
	        <header class="portlet-topper">
		        <h1 class="portlet-title">
                    <span>&nbsp;</span>
			        <span class="portlet-title-text">Annuaire</span>
		        </h1>
	        </header>
	        <div class="portlet-content">
		        <div class=" portlet-content-container" style="">
			        <div class="portlet-body">
				        <div class="annuaire-recherche">
				        	<form id="search-form" name="_aufsync_WAR_aufsync_fm" method="get"
                                action="/annuaire?p_p_id=aufsync_WAR_aufsync&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_aufsync_WAR_aufsync_action=searchPerson&_aufsync_WAR_aufsync_search=default">

								<input name="p_p_id" value="aufsync_WAR_aufsync" type="hidden">
								<input name="p_p_lifecycle" value="0" type="hidden">
								<input name="p_p_state" value="normal" type="hidden">
								<input name="p_p_mode" value="view" type="hidden">
								<input name="_aufsync_WAR_aufsync_action" value="searchPerson" type="hidden">
								<input name="_aufsync_WAR_aufsync_search" value="default" type="hidden">
								<input class="" name="_aufsync_WAR_aufsync_name" size="30" title="Rechercher" value="" type="text" placeholder="Rechercher une personne...">
								<input name="p_p_col_id" value="column-1" type="hidden">
							   	<input name="p_p_col_count" value="1" type="hidden">
							   	<input src="$images_folder/search.png" title="Rechercher" type="image" align="absmiddle" border="0">

							</form>
				        </div>

			        </div>
			    </div>
	        </div>
        </section>

        $velocityPortletPreferences.setValue("portletSetupShowBorders", "true")
	    $velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
        $velocityPortletPreferences.setValue("portletSetupTitle_fr_CA", "Systèmes d'information")
	    $velocityPortletPreferences.setValue("groupId", "10180")
		$velocityPortletPreferences.setValue("articleId", "14412")
		#embedPortletUsing("56_INSTANCE_HKyrI8sokkFP", "", $velocityPortletPreferences.toString())
        $velocityPortletPreferences.reset()

		#if ( $is_signed_in)
		#embedPortletUsing("101_INSTANCE_eFzcOQLPj6zh", "", $aufTool.getEventSetting($aufSiteId))

		#embedPortletUsing("39_INSTANCE_6qyaUAePwIVw", "", $aufTool.getRssSetting($aufSiteId))

        #end

        </div>

        <!-- partie centrale -->
        <div class="centre">
			#if ( $is_signed_in)

				#if ($aufTool.isNotUnderFrontpage($page.getPlid()))
					$velocityPortletPreferences.setValue("portletSetupShowBorders", "false")
					#embedPortletUsing("73_INSTANCE_3XWoAtbmI9rj", "", $velocityPortletPreferences.toString())
			        $velocityPortletPreferences.reset()
				#end

				#if ($aufTool.isNotUnderFrontpageSite($page.getPlid()))

					<h1>$site_name</h1>

		            $velocityPortletPreferences.setValue("displayStyle", "from-level-0")
					#embedPortletUsing("71_INSTANCE_arr2uHQblbOr", "", $velocityPortletPreferences.toString())
			        $velocityPortletPreferences.reset()
		        #end


				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()

					$portletDisplay.setTitle($the_title)

					$theme.wrapPortlet("portlet.vm", $content_include)
				#end

			#else
				<p>
				Connecter par <a href="/c/portal/login">ID.auf.org</a>
				</p>
				<a href="/c/portal/login"><div id="splash">
				  <div class="logo">
				    <img src="https://id.auf.org/static/idauf_48.png" width="48" height="48">
				    <span>id.auf</span>
				  </div>
				  <div class="titre">
				    <span>L'authentification unifiée de l'AUF</span>
				  </div>
				</div></a>
				<p>
				ou avec un compte Liferay
				</p>

	          	$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
			    $theme.runtime("58", "", $velocityPortletPreferences.toString())
			    $velocityPortletPreferences.reset()
			#end

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <p><small>&copy; Copyright AUF 2013</small></p>
    </footer>

</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.auf.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "205"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</html>
