<!doctype html>

#parse ($init)

<html class="no-js #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    $theme.include($top_head_include)

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

$theme.include($body_top_include)

#if ($is_signed_in)
    #dockbar()
#end

<!--CONTENEUR-->
<div id="container-full">

    <header id="banner" role="banner">

        <div class="baseline">
            <img alt="$logo_description" src="/auf-theme/images/logo.jpg">
            <h1><a class="$logo_css_class" href="$site_default_url" title="#language("go-to") $site_name">$site_name</a></h1>
        </div>
        <div class="rechercher">
            $velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
			$theme.runtime("3", "", $velocityPortletPreferences.toString())
			$velocityPortletPreferences.reset()
        </div>
        <div class="ecrire">
            <a href="/">contacter<br>l’administrateur</a>
        </div>

    </header>

    <!-- MENU -->
    <nav>
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
    </nav>

    <!-- PARTIE CENTRALE -->
    <div id="contenu">
    
     	<!-- colonne gauche -->
        <div class="gauche">

          $velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
			    $theme.runtime("58", "", $velocityPortletPreferences.toString())
			    $velocityPortletPreferences.reset()
            
        </div>
        
        <!-- partie centrale -->
        <div class="centre">
        
          #if ($selectable)
              $theme.include($content_include)
          #else
              $portletDisplay.recycle()

              $portletDisplay.setTitle($the_title)

              $theme.wrapPortlet("portlet.vm", $content_include)
          #end

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        
        <p><small>&copy; Copyright Your Name Here 2013. All Rights Reserved.</small></p>
        
    </footer>

</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>
